{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
{% endblock %}

{% block main_content %}
	<div id="container">
		<header class="container__header">
		  <h3>File Explorer</h3>
		  <i class="fas fa-expand" onclick="container.toogleFullScreen()"></i>
		</header>
		<section class="container__actions">
		  <div class="container__actions--navigation">
			<i class="fas fa-arrow-left"></i>
			<i class="fas fa-arrow-right"></i>
			<i class="fas fa-home"></i>
		  </div>
		  <div class="container__actions--folder">
			<button class="container__actions--new" onclick="folder.createFolder()">
			  <i class="fas fa-folder-plus"></i>
			  <span>New Folder</span>
			</button>
			<button class="container__actions--rename">
			  <i class="fas fa-pen-square"></i>
			  <span>Rename</span>
			</button>
			<button class="container__actions--delete">
			  <i class="fas fa-times"></i>
			  <span>Delete</span>
			</button>
			<button class="container__actions--move">
			  <i class="fas fa-angle-double-right"></i>
			  <span>Move</span>
			</button>
			<button class="container__actions--move" disabled>
			  <i class="fas fa-angle-double-right"></i>
			  <span>Disabled</span>
			</button>
		  </div>
		</section>
		<main class="container__items">
		  <form id="drop-area">
			<div class="drop-area--info">
			  <div>
				<i class="fas fa-upload"></i>
				<span>Solte o arquivo para realizar o upload</span>
			  </div>
			</div>
			<div class="container__items--grid">
			  <a ondblclick="window.location ='/pasta1.html'">
				<i class="fas fa-folder"></i>
				<div><div contenteditable onclick="(e) => e.stopPropagation();">Pasta Teste</div></div>
			  </a>

			  <a ondblclick="window.location ='/pasta1.html'">
				<i class="fas fa-folder"></i>
				<div><div contenteditable>Projetos</div></div>
			  </a>

			  <a ondblclick="window.location ='/pasta1.html'">
				<i class="fas fa-folder-open"></i>
				<div><div contenteditable>Nome grande</div></div>
			  </a>

			  <a ondblclick="window.location ='/pasta1.html'">
				<i class="fas fa-folder"></i>
				<div><div contenteditable>Filinto</div></div>
			  </a>

			  <a>
				<i class="fas fa-file-image"></i>
				<div><div contenteditable>image.png</div></div>
			  </a>

			  <a>
				<i class="fas fa-file-pdf"></i>
				<div><div contenteditable>teste.pdf</div></div>
			  </a>

			  <a >
				<i class="fas fa-file-excel"></i>
				<div><div contenteditable>teste.csv</div></div>
			  </a>
			</div>
		  </form>
		  <section class="container__items--detail open">
			<div class="container__items--detail--empty">
			  <h3>Details</h3>
			  <div>
				<i class="fas fa-info-circle"></i>
				<p>Select a file or folder to see details</p>
			  </div>
			</div>
		  </section>
		</main>
	  </div>
{% endblock %}

{% block extra_js %}

<script>
	if(!getCookie('refresh_token')){
		window.location.href = LOGIN_URL;
	}

  const containerElement = document.getElementById("container");
  const folderContainerElement = document.querySelector('.container__items--grid');

  const container = {
	toogleFullScreen: () => {
	  containerElement.classList.toggle("fullscreen");
	},
  };

  const folder = {
	createFolder: () => {
	  folderContainerElement.innerHTML = folderContainerElement.innerHTML +
	  `
	  <a>
		  <i class="fas fa-folder"></i>
		  <div><div contenteditable>New Folder</div></div>
	  </a>
	  `
	}
  }
</script>
<script>
  const dropArea = document.getElementById("drop-area");

  ["dragenter", "dragover", "dragleave", "drop"].forEach((eventName) => {
	dropArea.addEventListener(eventName, preventDefaults, false);
  });
  ["dragenter", "dragover"].forEach((eventName) => {
	dropArea.addEventListener(eventName, highlight, false);
  });
  ["dragleave", "drop"].forEach((eventName) => {
	dropArea.addEventListener(eventName, unhighlight, false);
  });

  function highlight(e) {
	dropArea.querySelector(".drop-area--info").classList.add("visible");
  }

  function unhighlight(e) {
	setTimeout(
	  () =>
		dropArea
		  .querySelector(".drop-area--info")
		  .classList.remove("visible"),
	  5000
	);
  }
  function preventDefaults(e) {
	e.preventDefault();
	e.stopPropagation();
  }

  dropArea.addEventListener("drop", handleDrop, false);

  function handleDrop(e) {
	let dt = e.dataTransfer;
	let files = dt.files;

	handleFiles(files);
  }

  function handleFiles(files) {
	[...files].forEach(uploadFile);
  }

  function uploadFile(file) {
	console.log(file);
	// let url = 'API URL'
	// let formData = new FormData()

	// formData.append('file', file)

	// fetch(url, {
	//   method: 'POST',
	//   body: formData
	// })
	// .then(() => { /* Done. Inform the user */ })
	// .catch(() => { /* Error. Inform the user */ })
  }
</script>
{% endblock %}