#root {
  height: calc(100vh - 60px);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

#navbar{
  width: 100%;
  display: flex;
  height: 60px;
  position: fixed;
  top: 0;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  background: var(--purple-700);

}

#container {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 60vw;
  height: 65vh;

  overflow: hidden;

  border-radius: 6px;

  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);

  margin: 20px;

  background-color: var(--purple-700);

  transition: all 0.2s ease-in-out;
}

@media only screen and (max-width: 1500px) {
  #container {
    max-width: 80vw;
  }
}

#container.fullscreen {
  max-width: 100vw;
  height: calc(100vh - 60px);
  margin: 0px;
  border-radius: 0;
}

#container .container__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

#container .container__header i {
  font-size: 1.2rem;
}

#container .container__header h3 {
  font-size: 1rem;
  font-weight: 400;
}

#container .container__header h3 + i {
  cursor: pointer;
  transition: all 0.2s ease;
}

#container .container__header h3 + i:hover {
  transform: scale(1.2);
  color: var(--green);
}

#container .container__actions {
  display: flex;
}

#container .container__actions .container__actions--navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 16px;
  margin-right: 24px;
  flex: 0 0 100px;
}

#container .container__actions .container__actions--navigation i {
  cursor: pointer;
}

#container .container__actions .container__actions--navigation i:hover {
  color: var(--green);
}

#container .container__actions .container__actions--folder {
  background: var(--purple-600);
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 16px;
  border-radius: 4px;
  flex: 1;
}

#container .container__actions .container__actions--folder button {
  background: none;
  border: 0;
  outline: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--white);
  padding: 8px 16px;
  border-radius: 4px;
  transition: background 0.2s;
}

#container
  .container__actions
  .container__actions--folder
  button:hover:not(disabled) {
  background: var(--purple-500);
}

#container
  .container__actions
  .container__actions--folder
  button.container__actions--delete
  i {
  color: var(--red);
}

#container
  .container__actions
  .container__actions--folder
  button.container__actions--new
  i {
  color: var(--green);
}
#container
  .container__actions
  .container__actions--folder
  button.container__actions--rename
  i {
  color: var(--blue);
}

#container
  .container__actions
  .container__actions--folder
  button.container__actions--move
  i {
  color: var(--yellow);
}

#container .container__actions .container__actions--folder button:disabled i,
#container
  .container__actions
  .container__actions--folder
  button:disabled
  span {
  color: var(--disabled);
}

#container .container__actions button i {
  font-size: 1.25rem;
}

#container .container__actions button span {
  font-size: 0.73rem;
  margin-top: 0.35rem;
}

#container .container__items {
  height: 100%;
  margin: 16px;
  display: flex;
  overflow-y:auto;
}

#container .container__items #drop-area {
  display: flex;
  width: 100%;
  background: var(--purple-600);
  padding: 16px;
  overflow-y:auto;
  position: relative;
}

#container .container__items #drop-area .drop-area--info {
  display: none;
}

#container .container__items #drop-area .drop-area--info.visible {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px dashed var(--green);
  background-color: #18917a61;
}

#container .container__items #drop-area .drop-area--info div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#container .container__items #drop-area .drop-area--info i {
  font-size: 2rem;
  color: var(--white);
}

#container .container__items #drop-area .drop-area--info span {
  font-size: 1.25rem;
  color: var(--white);
  margin-top: 1rem;
}

#container .container__items .container__items--grid {
  display: grid;
  height: fit-content;
  align-items: baseline;
  flex: 1;
  grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
  gap: 0.5rem;
}

#container .container__items .container__items--grid a {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem;
  align-items: center;
  justify-content: center;
  background: none;
  border-radius: 4px;
  transition: background 0.2s;
  cursor: pointer;
}

#container .container__items .container__items--grid a:hover {
  background: var(--purple-500);
}

#container .container__items .container__items--grid a i {
  font-size: 3rem;
  color: var(--green);
}

#container .container__items .container__items--grid a div {
  width: 100%;
}

#container .container__items .container__items--grid a div > div {
  text-align: center;
  font-size: 0.85rem;
  margin-top: 0.1rem;
  border: 2px solid transparent;
  padding: 0.25rem;
  width: 100%;
  border-radius: 0.25rem;
  cursor: text;
}

#container .container__items .container__items--grid a div > div:focus {
  outline: 0;
  border: 2px solid var(--green);
}

#container .container__items .container__items--detail {
  display: flex;
  flex: 0 0 300px;
  background: var(--purple-600);
  margin-left: 20px;
  margin-right: -50%;
  transition: all 0.4s;
}

/*SLIDE ANIMATION */
#container .container__items .container__items--detail.open {
  margin-right: 0%;
}

#container .container__items .container__items--detail--empty {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

#container .container__items .container__items--detail--empty h3 {
  border-bottom: 1px solid var(--purple-500);
  padding-bottom: 0.5rem;
}

#container
  .container__items
  .container__items--detail--empty
  div:first-of-type {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  flex: 1;
}

#container .container__items .container__items--detail--empty i {
  font-size: 8rem;
  color: var(--purple-500);
  margin-bottom: 3rem;
}

#container .container__items .container__items--detail--empty p {
  color: var(--disabled);
}

.login-container{
  padding: 35px;
  width: 90%;
  max-width: 500px;
  border-radius: 5px;
  margin: 0 auto;
  background: var(--purple-700);
}

.form-group{
  display: flex;
  flex-direction: column;
  margin: 20px 0;

}

.submit-btn{
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 10px;
  font-weight: bold;
  background-color: var(--green);
  border: none;
  color: white;
  border-radius: 5px;

}

.custom-input{
  background: transparent;
  padding: 10px;
  border-radius: 5px;
  border: solid 2px var(--green);
  color: white;

}

.custom-input:focus{
  background: transparent;
  padding: 10px;
  border-radius: 5px;
  border: solid 2px var(--green);
  color: white;

}

.login-sub{
  padding: 10px;
  text-align: center;
}

.link-signup{
  text-decoration: underline;
}