* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --purple-400: #393a59;
  --purple-500: #313341;
  --purple-600: #272935;
  --purple-700: #22252e;
  --red: #ff5656;
  --green: #18917a;
  --blue: #35abc9;
  --yellow: #c7c41f;
  --disabled: #6d7384;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}
body {
  background-color: var(--purple-400);
  color: var(--white);
}

body,
input,
textarea,
select,
button {
  font: 400 1rem "Roboto", -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}


/* SCROLL BAR */

::-webkit-scrollbar-track
{
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	
	background-color: #555;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #555;
}

::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgb(129, 129, 129);
}